body {
  max-width: 1020px;
  margin: 0px auto;
  font-family: 'Lato', sans-serif;
}

.getaquote {
  padding: 60px 0 0 39px;
  color: #f0d8d9;
  background-color: #f06c64;
}

.getaquote__title {
  margin: 0 0 -1px 0;
  font-size: 30px;
  font-weight: 900;
}

.getaquote__text {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.16px;
}

.getaquote__form-contacts {
  display: flex;
}

.form-contacts__form {
  display: flex;
  flex-direction: column;
  margin: 26px 20px 0 0;
}

.form-contacts__form input::-webkit-input-placeholder {
  color: #f48c8f;
}

.form-contacts__form::-moz-placeholder {
  color: #f48c8f;
}

.form__name, .form__email, .form__subject, .form__info  {
  color: #f48c8f;
  background-color: #d6564f;
  border: none;
  border-radius: 6px;
  margin-bottom: 16px;
}

.form__name,
.form__email,
.form__subject {
  height: 36px;
  font-size: 12px;
  padding: 2px 450px 0 16px;
  letter-spacing: -0.2px;
}


.form__info {
  font-size: 12px;
  padding: 12px 0 178px 16px;
}

.form__button {
  margin-bottom: 15px;
  color: #f48c8f;
  padding: 10px 0;
  border: none;
  border-radius: 6px;
  background-color: #2d303a;
}

.form__button:hover {
  cursor: pointer;
}

.getaquote__contacts {
  padding-top: 6px;
}

.contacts__title {
  font-size: 18px;
  font-weight: 800;
}

.contacts__text {
  max-width: 300px;
  text-align: justify;
  font-size: 12px;
  margin-top: -8px;
  line-height: 21.6px;
  letter-spacing: -0.1px;
}

.contacts__links  {
  list-style-type: none;
  padding: 4px 0 0 23px;
}

.contacts__links a {
  text-decoration: none;
  font-size: 12px;
  color: #f0d8d9;
  line-height: 21.5px;
}

.contacts__links li {
  position: relative;
}

.contacts__links li:first-child::before,
.contacts__links li:nth-child(2)::before,
.contacts__links li:last-child::before {

  position: absolute;
}

.contacts__links li:first-child::before {
  content: url("assets/location-contact.png");
  left: -19px;
  top: 1px;
}

.contacts__links li:nth-child(2)::before {
  content: url("assets/phone-contact.png");
  left: -21px;

}

.contacts__links li:last-child::before {
  content: url("assets/mail-contact.png");
  left: -22px;
  top: 1px;
}

.getaquote__footer {
  background-color: #ea676b;
  width: 1020px;
  height: 6px;
  margin-left: -39px;
}

.footer {
  background-color: #2d303a;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  padding: 6px 40px 0 42px;
}

.footer__copyright {
  color: #666d89;
  font-size: 12px;
  letter-spacing: -0.2px;
  margin-top: 24px;
}

.footer__sociallinks li {
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 3px;
}

.footer__sociallinks li:hover {
  background-color: #f06c64;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}
