body {
  max-width: 1020px;
  margin: 0px auto;
  font-family: 'Lato', sans-serif;
}

.head-bottom,
.slide-bottom,
.foot-bottom {
  width: 100%;
  height: 6px;
  background-color: #2C3445;
}

.head-top {
  font-weight: bold;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  background-color: #272C38;
  max-height: 90px;
}

.head-top span {
  color: #FF6C64;
}

.head-top__logo {
  font-size: 25px;
  letter-spacing: -0.7px;
  line-height: 115%;
  margin: 30px 0 31px 41px;
}

.head-top__nav {
  font-size: 12px;
  margin: 42px 39px 0 0;
}

.head-top__nav li:first-child a {
  color: #FF6C64;
}

.head-top__nav li {
  display: inline-block;
  margin-left: 26.4px;
  position: relative;
}

.head-top__nav li:not(:first-child):before {
  content: "";
  position: absolute;
  display: block;
  border: 1px solid #454D63;
  border-radius: 100%;
  width: 1px;
  height: 1px;
  background-color: #454D63;
  top: 7px;
  left: -16px;
}

.head-top__nav li a {
  text-decoration: none;
  color: #ffffff;
}

.head-top__nav li a:hover {
  color: #FF6C64;
}

.head-bottom {
  background-color: #2C3445;
}

.slider {
  position: relative;
  width: 100%;
  height: 594px;
  background-image: url(assets/bg.png);
}

.slider__chevLeft {
  position: absolute;
  top: 281px;
  left: 42px;
}

.slider__chevLeft:hover {
  opacity: 0.7;
}

.slider__chevRight:hover {
  opacity: 0.7;
}

.slider__chevRight {
  position: absolute;
  top: 281px;
  right: 40px;
}

.slider__tel1 {
  margin: 53px 0 0 112px;
}

.slider__tel2 {
  margin: 0 0 122px 70px;
}

.slide-bottom {
  background-color: #FF676B;
}

.services {
  color: #636D8B;
  padding-top: 59px;
  background-color: #f2f2f2;
}

.services__title {
  font-size: 30px;
  margin: 0 0 0 39px;
  font-weight: 900;
}

.services__text {
  font-size: 18px;
  letter-spacing: -0.07px;
  line-height: 30px;
  margin: 19px 0 0 40px;
}

.services__textS {
  letter-spacing: -0.23px;
}

.services-kinds {
  display: flex;
  flex-wrap: wrap;
  padding: 28px 0 0 120px;
}

.services-kind__pen,
.services-kind__star ,
.services-kind__bulb,
.services-kind__heart,
.services-kind__phone,
.services-kind__bubble {
  position: relative;
  width: 220px;
  margin:  0 99px 12px 0;
}

 .services-kind__pen:before,
 .services-kind__star:before,
 .services-kind__bulb:before,
 .services-kind__heart:before,
 .services-kind__phone:before,
 .services-kind__bubble:before {
   position: absolute;
   top: 20px;
   left: -79px;
   margin-left: 0;
  }

.services-kind__title {
  font-size: 18px;
  font-weight: 700;
}

 .services-kind__text {
  font-size: 12px;
  line-height: 21.6px;
  text-align: justify;
  margin: -7px 0 0 0;
 }

.services-kind__pen:before {
  content: url("assets/pen.png");
}

.services-kind__bulb:before {
  content: url("assets/bulb.png");
}

.services-kind__heart {
  margin: 0;
}

.services-kind__heart:before {
  content: url("assets/heart.png");
}

.services-kind__phone:before {
  content: url("assets/phone.png");
}

.services-kind__bubble {

}

.services-kind__bubble:before {
  content: url("assets/bubble.png");
}

.services-kind__star {
  margin: 0 0 64px 0;
}

.services-kind__star:before {
  content: url("assets/star.png");
}

.foot-bottom {
  background-color: #ffffff;
}
